table{
    border: 6px;
    border-style: double;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    border-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.63);
}
th{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px;
    border-style: double;
}
td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px;
    border-style: double;
}
a:link {
    color: rgb(131, 70, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(189, 107, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 166, 0);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(139, 39, 0);
    background-color: transparent;
    text-decoration: underline;
}
tr:nth-child(odd){
    background-color: rgba(185, 185, 185, 0.479);
}
tr:nth-child(even){
    background-color: rgba(77, 76, 76, 0.842);
}
body{
    background-image: url("../pictures/epületek_background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(141, 0, 0);
}
.pulet_kepek{
   width: 5%;
}
#gomb{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    background-color: rgb(247, 0, 0);
    border-color: black;
    border-radius: 10%;
    box-shadow: 20px;
    border-width: 10%;
}
#alsoszoveg{
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10%;
}
p{
    text-align: center;
}
img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
@keyframes mymove1 {
  from {left: 40vw;}
  to {left: 0vw ;}
}
@keyframes mymove2 {
  from {left: 0vw;}
  to {left: 40vw;}
}
#jobbrol{
    width: 40%;
    position: relative;
    animation: mymove1 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#ballrol{
    width: 40%;
    position: relative;
    animation: mymove2 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-direction: alternate;
}