table{
    border: 3px;
    border-style: double;
}
th{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:link {
    color: rgb(67, 167, 255);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 101, 189);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(139, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}
tr:nth-child(odd){
    background-color: rgba(192, 0, 0, 0.404);
}
tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0);
}
