body{
    background-image: url("../pictures/index_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: 100%;
}
a:link {
    color: rgb(133, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(228, 83, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(228, 83, 0);
    background-color: transparent;
    text-decoration: underline;
}
.jegyzet{
    margin-right: 1%;
    margin-left: 80%;
}