body{
    background-image: url("../pictures/index_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
a:link {
    color: rgb(133, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(228, 83, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(228, 83, 0);
    background-color: transparent;
    text-decoration: underline;
}
.jegyzet{
    margin-right: 1%;
    margin-left:80%;
}

#epul{
    float: right;
    width: 100%;
}
#bemut{
    float: right;
    width: 100%;
}
#hads{
    float: right;
    width: 100%;
}
.kepalairas{
    text-align: center;
    color: rgb(150, 0, 0);  
    background-color: rgb(54, 54, 54);
    border-radius: 1%;
    border-width: 10%;
}
.kepek{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}
h1{
    font-size: 60px;
    text-align: center;
}