body{
    background-image: url("../pictures/index_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(133, 0, 0);
    background-size: cover;
}
p{
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-align: center;
}
a:link {
    color: rgb(255, 54, 54);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(255, 123, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(228, 83, 0);
    background-color: transparent;
    text-decoration: underline;
}
.jegyzet{
    text-align: center;
    font-size: 30   px;
    background-color: rgba(206, 206, 206, 0.699);
    border-radius: 5%;
    color: rgb(201, 0, 0) ;
}
#epul{
    float: right;
    width: 100%;
}
#bemut{
    float: right;
    width: 100%;
}
#hads{
    float: right;
    width: 100%;
}
.kepalairas{
    text-align: center;
    color: rgb(247, 0, 0);  
    background-color: rgb(54, 54, 54);
    border-radius: 1%;
    border-width: 10%;
    font-size: 20px;
}
.kepek{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;

}
h1{
    font-size: 100px;
    text-align: center;
}
#gomb{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    background-color: rgb(247, 0, 0);
    border-color: black;
    border-radius: 10%;
    box-shadow: 20px;
    border-width: 10%;
}
@keyframes mymove1 {
  from {left: 47.5vw;}
  to {left: 0vw ;}
}
@keyframes mymove2 {
  from {left: 0vw;}
  to {left: 47.5vw;}
}
.jobbrol{
    width: 40%;
    position: relative;
    animation: mymove1 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.ballrol{
    width: 40%;
    position: relative;
    animation: mymove2 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-direction: alternate;
}